attrs
beautifulsoup4
bs4
certifi
charset-normalizer
contourpy
cycler
et_xmlfile
fonttools
grapher
h11
idna
kiwisolver
matplotlib
numpy
openpyxl
outcome
packaging
pandas
pillow
pyparsing
PySocks
python-dateutil
pytz
requests
selenium
six
sniffio
sortedcontainers
soupsieve
trio
trio-websocket
typing_extensions
tzdata
urllib3
websocket-client
wsproto
XlsxWriter
